/* GLOBAL CSS */

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #ffffff;

  /* TAILWIND: GRAY 900 */
  --complementary: #111827;

  /* TAILWIND: GRAY 200-400 */
  --highlight-light: #e5e7eb;
  --highlight: #d1d5db;
  --highlight-dark: #9ca3af;
  
  /* TAILWIND: INDIGO 600-700 */
  --brand: #388E3C; 
  --brand-dark: #2E7D32;

  /* TAILWIND: GREEN 600 */
  --success: #16a34a; 

  /* TAILWIND: RED 600 */
  --error: #dc2626; 

  /* Logo Typeface */
  --logo-typeface: 'Bangers', cursive;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: var(--primary);
  box-sizing: border-box;
}

/* Flex Box App Structure */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  
}